.Home {
  .features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    &.dark {
      background-color: #0d084d;
      h1 {
        color: white !important;
      }
      p {
        color: white !important;
        margin-bottom: 20px !important;
      }
      .title {
        color: white !important;
        font-weight: 300;
        font-size: 14px;
      }
      img {
        width: 100%;
      }
      button {
        background-color: #1dbf73;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
        border: none;
        width: max-content;
      }
    }
    .container {
      width: 1400px;
      display: flex;
      align-items: center;
      gap: 200px;

      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        &:first-child {
          flex: 2;
        }
        &:last-child {
          flex: 3;
        }
        h1 {
          font-weight: 500;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          color: gray;
          line-height: 28px;
          letter-spacing: 1px;
        }
        .title {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 18px;
          color: gray;
          img {
            width: 24px;
            height: 24px;
            margin-right: 5px;
          }
        }
        video {
          width: 768px;
        }
      }
    }
  }
}
