@import "../../styles/media-queries.scss";
.navbar {
  width: 100vw;
  margin: 0 auto;
  background-color: #013914;
  color: white;
  position: sticky;
  top: 0;
  z-index: 998;
  transition: 0.5s all ease;

  &.active {
    background-color: white;
    color: black;

    button {
      background-color: white !important;
      color: #1dbf73 !important;
      border: 2px solid #1dbf73 !important;
    }
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between !important;
    padding: 20px 0px;
    position: relative;
    .side-menu {
      z-index: 999;
      width: 280px;
      height: 100vh;
      background-color: rgb(255, 255, 255);
      position: absolute;
      top: 0;
      left: 0;
      -webkit-box-shadow: 5px 0px 39px 8px rgba(0, 0, 0, 0.32);
      -moz-box-shadow: 5px 0px 39px 8px rgba(0, 0, 0, 0.32);
      box-shadow: 5px 0px 39px 8px rgba(0, 0, 0, 0.32);
      .menu-container {
        width: 100%;
        padding: 10px;
        .button-container {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;
          button {
            width: 100px;
            height: 40px;
            color: white;
            font-weight: 700;
            background-color: #1dbf73;
            border: none;
            border-radius: 5px;
          }
          .close {
            cursor: pointer;
          }
        }
      }
      .menu-content {
        display: flex;
        flex-direction: column;
        span {
          margin-bottom: 10px;
          .green {
            color: #1dbf73;
          }
          .dark {
            color: black;
          }
        }
        .icon-center {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }

    display: flex;
    .logo {
      font-size: 34px;
      font-weight: bold;
      .bars {
        margin-right: 20px;
        cursor: pointer;
        @include large {
          display: none;
        }
      }

      .text {
      }

      .dot {
        font-weight: bold;
        color: #1dbf73;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      li {
        list-style: none;
      }

      span {
        white-space: nowrap;
      }
      .globe {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .links-hide {
        @include laptop-hide {
          display: none;
        }
      }
      .mobile-screen {
        @include mobile-hide {
          display: none;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          text-transform: capitalize;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }
  .menu {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    height: 50px;
    color: gray;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
  }
}
